apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  creationTimestamp: "2022-11-28T13:10:52Z"
  generation: 2501
  name: dev-env
  namespace: argocd
  resourceVersion: "623476"
  uid: 7304b5dd-c58e-4ff6-a865-b54300ff8b8d
spec:
  destination:
    namespace: dev
    server: https://kubernetes.default.svc
  project: default
  source:
    path: .
    repoURL: https://github.com/janitham/cmm707-gitops.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    retry:
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m0s
      limit: 2