apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ env_name }}
  namespace: argocd
spec:
  destination:
    namespace: {{ namespace }}
    server: https://kubernetes.default.svc
  project: default
  source:
    path: .
    repoURL: https://github.com/janitham/cmm707-gitops.git
    targetRevision: {{branch}}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    retry:
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m0s
      limit: 2